@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
  /* Variables */
  --dark-primary: #111;
  --dark-secondary: #1f2937;
  --light-primary: #fff;
  --light-secondary: #f1f1f1;

  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;

  background-color: var(--dark-primary);

  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* 14px - small */
  font-size: var(--text-sm);
  line-height: var(--tw-leading, var(--text-sm--line-height));
  /* semi-bold */
  font-weight: 500;
  color-scheme: light dark;
  color: var(--light-primary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  user-select: none;
  -webkit-user-select: none;
}

/* * {
  transition: transform 0.3s ease-in-out;
} */

body,
#root {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@theme {
  --animate-pulse-glow: pulse-glow 2.4s ease-in-out infinite;
  --animate-glow: glow 2.4s ease-in-out infinite;
  --animate-fade-in: fade-in 0.3s ease-in-out forwards;
  --animate-fade-out: fade-out 0.3s ease-in-out forwards;

  @keyframes pulse-fast {
    50% {
      opacity: 0.4;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(10px) scale(0.98);
    }

    100% {
      opacity: 1;
      transform: translateY(0px) scale(1);
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes pulse-glow {
    0% {
      filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.4));
      opacity: 0.4;
    }
    50% {
      filter: drop-shadow(0 0 18px rgba(255, 255, 255, 1));
      opacity: 1;
    }
    100% {
      filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.4));
      opacity: 0.4;
    }
  }

    @keyframes glow {
    0% {
      filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.4));
    }
    50% {
      filter: drop-shadow(0 0 24px rgba(255, 255, 255, 1));
    }
    100% {
      filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.4));
    }
  }
}
